In [66]:
import pandas as pd
import urllib
import bs4

In [67]:
#On récupère la page des 1000 villes les plus peuplés des US
url = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"
response = urllib.request.urlopen(url).read()
page = bs4.BeautifulSoup(response)

In [78]:
tableau = page.find("table", {"class" : "wikitable sortable"}) #on récupère le tableau désiré
table_body = tableau.find("tbody")
rows = table_body.find_all("tr")

In [101]:
dic_villes = dict()
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    if len(cols) > 0 : 
        dic_villes[cols[0]] = cols[1:]

villes_df = pd.DataFrame.from_dict(dic_villes, orient="index").reset_index()
villes_df.columns = ["city_name", "state", "2022 estimate", "2020_census", "change", "2020 land area (sq mi)", "2020 land area (km^2)", "2020 population density (/sq mi)", "2020 population density (/km^2)", "location" ]
villes_df.set_index("city_name")

,state,2022 estimate,2020_census,change,2020 land area (sq mi),2020 land area (km^2),2020 population density (/sq mi),2020 population density (/km^2),location
city_name,,,,,,,,,
New York[d],New York,"8,335,897","8,804,190",−5.32%,300.5 sq mi,778.3 km2,"29,298/sq mi","11,312/km2",40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W﻿ / 40.66; ...
Los Angeles,California,"3,822,238","3,898,747",−1.96%,469.5 sq mi,"1,216.0 km2","8,304/sq mi","3,206/km2",34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W﻿ / 34.02...
Chicago,Illinois,"2,665,039","2,746,388",−2.96%,227.7 sq mi,589.7 km2,"12,061/sq mi","4,657/km2",41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W﻿ / 41.84; ...
Houston,Texas,"2,302,878","2,304,580",−0.07%,640.4 sq mi,"1,658.6 km2","3,599/sq mi","1,390/km2",29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W﻿ / 29.79; ...
Phoenix,Arizona,"1,644,409","1,608,139",+2.26%,518.0 sq mi,"1,341.6 km2","3,105/sq mi","1,199/km2",33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W﻿ / 33.57...
...,...,...,...,...,...,...,...,...,...
Albany,New York,"100,826","99,224",+1.61%,21.4 sq mi,55.4 km2,"4,637/sq mi","1,790/km2",42°40′N 73°48′W﻿ / ﻿42.67°N 73.80°W﻿ / 42.67; ...
Hesperia,California,"100,744","99,818",+0.93%,72.7 sq mi,188.3 km2,"1,373/sq mi",530/km2,34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W﻿ / 34.40...
New Bedford,Massachusetts,"100,682","101,079",−0.39%,20.0 sq mi,51.8 km2,"5,054/sq mi","1,951/km2",41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W﻿ / 41.66; ...
Davenport,Iowa,"100,486","101,724",−1.22%,63.8 sq mi,165.2 km2,"1,594/sq mi",615/km2,41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W﻿ / 41.56; ...
Daly City,California,"100,007","104,901",−4.67%,7.6 sq mi,19.7 km2,"13,803/sq mi","5,329/km2",37°41′N 122°28′W﻿ / ﻿37.69°N 122.47°W﻿ / 37.69...

In [104]:
villes_df.loc["Jackson"]

KeyError: 'Jackson'

Problème avec les villes en couleurs dans le tableau